* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.container-menu {
  margin: 0 auto;
  max-width: 80%;
}

.title {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1.5em;
}

.sub-title {
  margin-top: 60px;
}

.title-section {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 1em 0;
  font-weight: 500;
}

.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.container > article {
  padding: 1em;
}

img {
  display: inline-block;
}

.footer-container {
  border-top: 1px solid #eee;
  padding: 1em 0;
}

.social-media,
.extra-info,
.copyright {
  margin: 2em;
}

.social-media ul,
.extra-info ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #999;
}

.social-icon,
.extra-info-item {
  margin: 1em 2em;
  text-decoration: none;
  color: #999

}

.copyright {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #999;
  margin: 10px 20px;
}

li {
    list-style: none;
}

.social-media ul li, 
.extra-info ul li {
    padding: 10px;
    text-align: center;
}

.social-media ul li a:hover, 
.extra-info ul li a:hover {
    color: #777;
}

/* header */

.header {
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  padding: 20px 0;
  background: #fff;
}

.header-container {
  display: grid;
  grid-template-columns: 60px 1fr;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;  
}

.container-nav {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.logo {
  width: 50px;
  height: 50px;
}

.logo > img{

  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.nav > a{
  margin: 0 25px;
}